<% provide(:title, "About") %>

<div class="jumbotron text-center">
  <h1>About</h1>
  <p class="lead">This is an application to help you create and connect to your goals so you can live the life you intend to live.</p>
  <hr class="my-5">
</div>