<% provide(:title, "Contact") %>

<div class="jumbotron text-center">
  <h1>Contact</h1>
  <p class="lead">
    Connect with me on
    <a href="https://www.linkedin.com/in/anthonybaulo/">LinkedIn</a>.
  </p>  
<hr class="my-5">
</div>