<% provide(:title, "Home") %>

<div class="jumbotron text-center">
  <h1 class="display-3">Purpose App</h1>
  <p class="lead">Welcome! This site is currently under development.</p>
  <hr class="my-5">
  <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-lg", role: "button" %>
</div>
