<h2>Write your statement of purpose:</h2>

<%= form_with(model: @mission_statement, local: true) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", rows: 12 %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>