<%= link_to "New Mission Statement", new_mission_statement_path, class: "btn btn-sm btn-primary" %>
<hr>
<% unless @mission_statements.empty? %>
  <h2><%= "Your Mission Statement".pluralize(@mission_statements.count) %></h2>
  <%= render @mission_statements %>
<% else %>
  <p>Create your first Mission Statement.</p>  
<% end %>
