<h1>User Dashboard</h1>
<%= render 'user_header'%>

<hr>
<% unless @user.mission_statements.empty? %>
  <h2>Mission Statement</h2>
  <%= render @user.mission_statements.first %>
<% end %>

<h2>Goals/countdowns/timers</h2>
<p>...</p>
