<h1>User Profile</h1>
<p><%= @user.email %></p>

<% unless current_user?(@user) %>
  <button class="btn btn-sm btn-secondary">Follow</button>
<% end %>
<hr>
<h2>Mission Statement</h2>
<p>...</p>

<h2>Public Posts</h2>
<p>...</p>