@import 'toastr';
@import "~bootswatch/dist/superhero/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/superhero/bootswatch";

// Navbar
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.75);
}

// Sidebar
#sticky-sidebar a {
  color: $gray-100;
}

#sticky-sidebar {
  max-width: 13%;
}

.nav-link.disabled {
  color: rgba(255, 255, 255, 0.4) !important;
}

// Misc Styles
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.follow-btn {
  padding: 0.15rem 0.75rem;
}

.edit-delete-btn {
  padding: 0rem 0.50rem;
}

.card-body {
  padding: 1rem;
}

.card-text {
  white-space: pre-line;
}

.list-group-item {
  border: 1px solid lightgray;
}