<footer class="page-footer font-small fixed-bottom text-right">
  <div class="footer-copyright p-2">
    The Purpose App by Anthony Baulo © 2020  |  <%= link_to "About", about_path %>  |  <%= link_to "Contact", contact_path %>
  </div>  
</footer>