<footer class="page-footer font-small fixed-bottom">
  <div class="footer-copyright text-center py-3">The Purpose App by
    <a href="https://www.linkedin.com/in/anthonybaulo/">Anthony Baulo</a>
    © 2020
  </div>
</footer>