<footer class="page-footer font-small fixed-bottom text-right">
  <div class="footer-copyright p-2">
    Copyright © 2020 Anthony Baulo |  <%= link_to "About", about_path %>  |  <%= link_to "Contact", contact_path %>
  </div>  
</footer>